#controls{
    color:white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controlPanel{
    display: flex;
    align-items: center;
}

audio{
    background-color: black;
    height: 20px;
}

#playPauseButton{
    font-size: 35px;
    color: white;
    margin-right: 22px;
    margin-left:22px;
}

#playPauseButton:hover{
    color:rgb(167,167,167);
    transform: scale(0.9);
}

.backwardForward{
    color:rgb(167,167,167);
    font-size: 22px;
}

.backwardForward:hover{
    color:white;
    transform: scale(0.9);
}

#progressBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#progressBarTime{
    width:85%;
    height:3px;
    background-color: rgb(167,167,167);
}

.time{
    font-size: 12px;
    color: rgb(167,167,167);
}

#currentMusic{
    display: none;
}
