
#navbar{
    height: 65px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding-left: 25px;
    padding-right: 25px;
    width: 72%;
    position: fixed;
    z-index: 1;
    background-color: rgb(18,18,18);
}

@media screen and (max-width:550px) and (min-width:399px){
    #navbar{
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 130px;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:400px){
    #navbar{
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 195px;
        justify-content: space-evenly;
    }
}

.arrowButtonsDiv{
    display: flex;
}

.loginSignupDiv{
    display: flex;
}

@media screen and (max-width:400px){
    .loginSignupDiv{
        flex-direction: column;
        align-items: flex-start;
        height: 130px;
        justify-content: space-evenly;
    }
}

.spotifyLogoDiv{
    background-color: transparent;
    height: 50px;
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 100px;
    border: none;
}

.spotifyLogo{
    color: rgb(255, 255, 255);
    background-color: transparent;
    height: 50px;
    width:50px;
}

.spotifyLogo:hover{   
    transform: scale(1.05);
}

#profileButton{
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: black;
    height: 33px;
    width:33px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 100px;
    border: none;
    align-self: flex-end;
}

#profileButton:hover{
    transform: scale(1.1);
}

.login{
    color: black;
    background-color: white;
    font-size: 16px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    transition: color linear 100ms;
    transition: transform linear 100ms;
}

.signup{
    background-color: transparent;
    color:rgb(204, 204, 204);
    border:0px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
    transition: color linear 100ms;
    transition: transform linear 100ms;
}

.signup:hover{
    color:white;
    transform: scale(1.1);
    cursor: pointer;
}

.login:hover{
    background-color:rgb(231, 230, 230);
    transform: scale(1.1);
    cursor: pointer;
}

#logoutButton{
    /* display: none; */
    border-radius: 80px;
    width: 80px;
    height: 40px;
    font-weight: bold;
    transition: transform ease-in-out 200ms;
    /* position: absolute; */
    /* margin-top: 30px; */
    margin-left: 0px;
}

#profileDiv{
    /* margin-right: 30px; */
    /* width: 60px; */
    display: flex;
    /* align-items: center; */
    /* align-content: center ; */
    /* flex-direction: column; */
}

#profileName{
    display: none;
    position: absolute;
    margin-top: 40px;
    background-color: rgb(110, 110, 110);
    padding:5px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
}

#profileButton:hover + #profileName {
    display: block;
}

#logoutButton:hover{
    display: block;
    transform: scale(1.05);
    cursor: pointer;
}